* { margin:0px; padding:0px; border:0px solid #AAA; font:normal 12px "Segoe UI", Verdana; text-decoration:none; width:auto; }
#clear { clear:both; }
form { margin:5px auto; width:960px; }

form fieldset { margin-bottom:10px; }
form fieldset p { float:left; clear:both; }
form fieldset label { float:left; font-weight:bold; padding-top:3px; }
select { margin-left:2px; }

form fieldset input.txt { border:1px solid #FFBB00; float:left; text-align:left; padding:2px; }
form fieldset input.txt:hover { border-left:4px solid #FFBB00; background:url('../imagens/editar16.png') right center no-repeat; }
form fieldset input.cli_nome { width:400px; text-transform:capitalize; }
form fieldset input.placa { width:80px; text-transform:uppercase; }
form fieldset input.rev_nome { width:300px; text-transform:uppercase; }
form fieldset input.rev_data { width:100px; }
form fieldset input.rev_km { width:100px; }

#left { float:left; width:580px; }
#right { float:right; width:350px; }

#dados #titulos .esq, .center { border:1px solid #000; border-color:#EEE #AAA #AAA #EEE; background:#DDD; padding:2px; }
#titulos label.esq { float:left; width:455px; text-align:left; }
#titulos label.center { float:right; width:132px; text-align:center; }
#layerFrm0, #layerFrm1, #layerFrm2, #layerFrm3, #layerFrm4, #layerFrm5, #layerFrm6, #layerFrm7, #layerFrm8, #layerFrm9 { display:none; }
.nome { text-transform:capitalize; width:429px; }
.data { width:80px; text-align:left; }
.km { ; }
.normal { text-transform:none; }
.upper 	{ text-transform:uppercase; }
.capit 	{ text-transform:capitalize; }
.lower 	{ text-transform:lowercase; }
.id 		{ width:20px; text-align:right; }
.placa 		{ width:76px; text-transform:uppercase; font-weight:bold; }
.chassi 	{ width:140px; text-transform:uppercase; }
.ano 		{ width:50px; }
.uf 		{ width:50px; }
.km, .data 	{ border-width:0px 0px 1px 0px; padding-top:4px; }
.rtext 		{ text-align:right; padding-right:20px; }
.x0 { width:auto; padding:0px 2px; }
.x1 { width:40px; text-transform:uppercase; }
.x2 { width:80px; }
.x3 { width:120px; }
.x4 { ; }
.x5 { width:259px; text-transform:capitalize; }
.x6 { ; }
.x7 { ; }
.x8 { ; }
.x9 { width:429px; }
.selected	{ color:orange; font-weight:bold; }

p { float:left; clear:both; margin-bottom:5px; width:100%; }
p.caption { text-align:center; width:100%; padding-top:4px; font:bold 16px "Segoe UI", Verdana, Arial; margin-bottom:10px; background:url('../imagens/legenda_meio.png') no-repeat center top; color:#FFF; }
p.rev_ult { background:url('../imagens/barra_laranja.png') no-repeat center center; width:730px; padding:4px 15px; margin-bottom:5px; }
p.rev_ult input[type=text] { border-color:#FFAA00; }
p.rev_prox { background:url('../imagens/barra_verde.png') no-repeat center center; width:730px; padding:4px 15px; margin-bottom:5px; }
p.rev_prox input[type=text] { border-color:#AAFF00; }
label { float:left; padding-top:3px; width:140px; text-align:right; margin-right:1px; }
input[type=text] { float:left; border:1px solid #FFAA00; padding:2px 2px 1px 2px; margin:0px 2px; }
select { border:1px solid #FFAA00; font:12px Consolas, Arial; }

input[type=submit], input[type=reset] { margin:0px 2px; background:url('../imagens/bt_orang2.png') no-repeat center top; border:none; padding:2px 12px; width:145px; height:32px; cursor:pointer; color:#FFF; }
input[type=submit]:hover, input[type=reset]:hover { font-weight:bold; background:url('../imagens/bt_orang2.png') no-repeat center top; border:none; }

label.cpf { float:right; padding:2px; width:136px; }
form.esq { float:left; width:460px; }
.tleft { text-align:left; }
.tcenter { text-align:center; }
.tright { text-align:right; }
.btop { border-top:2px solid #EE4400; padding-top:0px; margin-top:5px; }
.borda { height:2px; float:left; width:100%; background:url('../imagens/bg_orang2.png'); margin-top:7px; }

.foco_on { background:#FFA url('../imagens/editar16.png') no-repeat right center; }
.foco_off { background:#FFF; }
.erro { background:#FFDDDD url('../imagens/ico_erro.png') no-repeat right center; }
.ok { background:#FFF url('../imagens/ico_ok.png') no-repeat right center; }
