body, h1, h2, h3, h4, h5, h6, p, form, fieldset, label, input, select, textarea { margin:0px; padding:0px; }
body { font:normal 12px "Segoe UI", Arial; text-align:center; background:#777 url('../_img/bg_10px.png'); }
div#header, div#body, div#footer { padding:4px; }
div#header, div#footer { margin:4px auto; background:#555; color:#FFF; width:98%; }
div#body { margin:5px auto; width:860px; text-align:justify; }
div#footer { display:xnone; }

#header h3 { text-align:left; padding-bottom:4px; }
form, div#listagem { margin:50px auto 40px auto; width:860px; text-align:left; }
form p.caption { font:bold 12px "Segoe UI", Arial; color:#FFF; }
form h2, form h4 { text-align:center; color:#EEE; }
form fieldset { margin:5px auto; padding:5px; background:#FFF; border:1px solid #AAA; }
form fieldset.msg { background:#FD7 !important; }
form br, form hr { clear:both; margin:5px 0px; padding:0px; }
form label { float:left; margin:5px 4px 5px 0px; font:bold 11px Arial; }
fieldset input, fieldset select, fieldset textarea { font-family:Consolas, Verdana, Arial; border:1px solid #AAA; }
label input, label select, label textarea, label button { display:block; }
label input, label textarea, fieldset > select { padding:4px 2px 2px 22px; }
label select { padding:2px 2px 2px 22px; }
label input.ativo, label select.ativo, label textarea.ativo { border-color:#000 !important; background:#FFF url('../_img/edit.gif') 0px 0px no-repeat !important; }

div.left { float:left; padding-right:10px; border-right:1px dotted #DDD; }
div.right { float:left; padding-left:10px; border-left:1px dotted #DDD; }

form div.botoes { text-align:right; color:#FFF; }
div.botoes input, div.botoes button { border:1px solid #AAA; background:#FFF; cursor:pointer; height:32px; padding:0px 32px; margin:4px 4px 4px 0px; color:#777; font-weight:bold; }
div.botoes input:hover, div.botoes button:hover { color:#000; }
div.botoes input:focus, div.botoes button:focus { background:#FC2 url('../_img/ok.png') 4px center no-repeat; color:#000; }

.statusOK { background:#FFF url('../_img/checked.png') 2px 2px no-repeat !important; color:#000 !important; }
.statusERRO { background:#FAA url('../_img/req.png') 0px 2px no-repeat !important; }

.nome, .long, .email { width:320px; }
.data, .CEP{ width:80px; }
.small, .num, .ano, .decimal, .km { width:48px; }
.docRG, .docIE, .docCNH, .docNF { width:90px; }
.docCPF, .fone{ width:110px; }
.docCNPJ { width:132px; }
.docChassi  { width:154px; }
.placa, .docRenavam, .codFipe , .valor{ width:70px; }
.valor, .decimal, .km { text-align:right; }
.email { text-transform:lowercase; }

div#mensagem { margin:10px 0px 5px 0px; padding:2px; background:#E77; color:#EEE; }
div#mensagem.ok { background:#5D5; color:#FFF; }
div#mensagem div { overflow:auto; overflow-x:hidden; max-height:60px; }
div#mensagem h1 { color:#FFF; border-bottom:1px dotted #FFF; margin:0px 5px 5px 5px; padding:0px 0px 4px 0px; }
div#mensagem p { padding:2px 5px; cursor:default; }

div#legenda { position:fixed; top:32px; right:32px; padding:4px; text-align:justify; color:#FFF; }
div#legenda label { font:bold 11px Arial; }
div#legenda span { margin:2px 0px 4px 0px; padding:4px 6px 4px 22px; display:block; font-family:Consolas, Verdana; border:1px solid #AAA; background:#FFF; color:#000; }

label.req { background:none !important; color:#F00 !important; }
label.rec { background:none !important; color:#FA0 !important; }
span.rec { background:#FFF url('../_img/rec.png') 0px 2px no-repeat !important; padding-left:22px; }
span.req { background:#FFF url('../_img/req.png') 0px 2px no-repeat !important; padding-left:22px; }
.rec { border-color:#FA0 !important; background:#FFF url('../_img/rec.png') 0px 2px no-repeat !important; }
.req { border-color:#F00 !important; background:#FFF url('../_img/req.png') 0px 2px no-repeat !important; }
.sucesso { background:#FFF url('../_img/sucesso.png') 0px 2px no-repeat !important; }
.falha { background:#FFF url('../_img/falha.png') 0px 2px no-repeat !important; }

div#resultados table { width:800px; text-align:left; background:#FFF; cursor:default; }
div#resultados table thead tr { background:#FA0; color:#000; }
div#resultados table thead tr td { padding:2px; }
div#resultados table tbody tr:hover { background:#DDD; }
div#resultados table td { padding:2px 4px; }
div#resultados td form { margin:0px; padding:0px; width:auto; display:inline; vertical-align:middle; }
div#resultados form input[type="image"], div#resultados form button { cursor:pointer; }

div#avisos { position:fixed; top:56px; right:5px; width:160px; padding:5px 5px 5px 32px; border:4px solid #222; background:#FFF; text-align:left; display:none; cursor:default; }
	#avisos > img { position:absolute; width:48px; margin:-17px 5px 5px -56px; vertical-align:middle; }
	#avisos > p { margin:6px 0px 0px 0px; }
	#avisos > p.caption { font-weight:bold; font-size:12px; color:#FFF; background:#F77; margin:-5px -5px 0px -32px; padding:5px 5px 5px 32px; }
	#avisos > p.fieldset { font-weight:bold; margin-left:-16px; }