#login_popup     
{
    form#form-login 
    {
        font-weight:normal;
        margin-left:8px;
        width:320px; 
		float:left;
		background: #e5f0f3;
		padding: 20px;
    }  
#logintopper {background:#777; padding-left: 12px; color:fff; font-size: 14px;}
#login_side {float:right; padding: 20px; width:300px;}

    #user_pass, #user_login, #user_email {
        background:none repeat scroll 0 0 #FBFBFB;
        border:1px solid #E5E5E5;
        font-size:24px;
        margin-bottom:16px;
        margin-right:6px;
        margin-top:2px;
        padding:3px;
        width:97%;      
    } 

    form#form-login label {
        color:#777777;
        font-size:13px;
		
    }    

    form .forgetmenot{
        float:left;
        font-weight:normal;
        margin-bottom:0;  
    }  

    form#form-login .forgetmenot label {
        font-size:12px;
    }  

    textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], select  {
        background-color:#FFFFFF;
        border-color:#DFDFDF; 
    }  

    form#form-login .submit       
    {
        float:right;
    }         


    input.button-primary, button.button-primary, a.button-primary {
        background:url(../images/button-grad.png) repeat-x scroll left top #21759B;
        border-color:#298CBA;
        color:#FFFFFF !important;
        font-weight:bold;
        text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);  
        -moz-border-radius:11px 11px 11px 11px;
        border:1px solid;     
        cursor:pointer;
    }  

    input.button-primary:active, button.button-primary:active, a.button-primary:active {
        background:url(../images/button-grad-active.png) repeat-x scroll left top #21759B;
        color:#EAF2FA !important; 
    }
    input.button-primary:hover, button.button-primary:hover, a.button-primary:hover, a.button-primary:focus, a.button-primary:active {
        border-color:#13455B;
        color:#EAF2FA !important;       
    }

    form#form-login input {
        color:#555555;
    } 
}     
       
#admin-link-wrap {
    margin:0px auto;
    width:80px;
}        

a.register_joomla {
    color:#555555;
    position:relative;
    top:48px;
}  
    

#login_wrapper {
    position:fixed; 
    width:983px;
}

.login_open_wrap 
{   
   background:url(../images/log-tab.png) no-repeat;     
   float:right;
   height:41px;
   margin-top:78px;
   position:relative;
   width:133px;
   text-align:center;  
   z-index:800;   
   right:-12px;

   &:hover { cursor:pointer; }   
}       

a#login_open { 
    color:#999999;
    display:block;
    float:right;
    font-size:12px;
    left:120px;
    position:relative;
    top:89px;
    z-index:900;
	
   &:hover { cursor:pointer; }   
}   

a#login_open.logout { margin-top:0px; }    

#login_popup { background: #fff; border:1px solid #ccc;  height:432px; width:800px; }           
#form-logout input { font-size:48px; margin-top:42px !important; padding:0px !important; }   
#form-logout input:hover { color:#68B5D5; cursor:pointer;  }            

.logintopper {   
    background:#EEE;
    color:#545C65;  
    padding:20px 0 20px 22px;
    h4 { font-size:24px; }
}   

#login_left {
    float:left;
}    

#loginside {
    float:right;
    margin-top:-5px;
}  


/** End Login
 *******************/
  
.vm_search form { background:#fff url(../images/searchicon.png) no-repeat scroll left;  height:24px; padding-left:20px; }
.vm_search .inputbox {
    border:1px solid #f4f4f4; 
    border-bottom:none;     
    border-left:none;
    font-size:10px;
    height:15px;
    margin-top:1px;
    padding:4.5px 10px 0;
    width:128px;
}