#cart_wrap { float:left; }

.latest_blog_item {
    padding-top:4px;  
    margin-bottom:4px;
}        

#login_wrapper { z-index:200; }        
.newspro_items_hot  { height:580px !important; margin-bottom:-320px !important; }   
.wall_nav { position:relative; top:46px; }                

/** JomScoail Fixes **/
#community-wrap .page-action { margin-top:-14px; float:right; position:relative; top:-32px; }
body #community-wrap div.profile-box { padding:18px; }     
body #community-wrap div.profile-info  { position:relative; top:-20px; padding-left:12px; }   
.mini-profile-details .icon-write, .mini-profile-details .icon-add-friend { overflow:hidden; padding:3px 3px 0px 20px;}  

/** Kuena Fixes **/
#fb_topmenu, #fb_searchbox { position:relative; top:-28px; left:-20px;  }     

/** Seyret fixes **/
#cToolbarNav .current { top:30px; position:relative;}       
#cToolbarNav dl.tabs dt span, #cToolbarNav dl.tabs dt { height:27px !important; padding-bottom:10px; position:relative;  }

/** Mosets tree Fixes **/
#component-com_mtree .app-box-info { position:relative; float:left; width:90%; }     
#component-com_mtree .app-box-content, #component-com_eventlist .app-box-content { overflow-y:auto; }   

/** Event List Fixes **/
#component-com_eventlist .app-box-info { float:left; }        

div.tabs-wrap { position:relative; width:720px !important; }      

#user10 { overflow:hidden; }         

#nav_container, #nav_shadow { overflow:visible !important; } 

#navigation ul.menu li.back .left{
 margin:58px auto 0px auto;
}        
#login_wrapper { z-index:900; }
#login_wrapper .login_open_wrap { z-index:900 !important; }   
a.register_joomla { top:68px; }

.shadetabs li.tab-1, .shadetabs li.tab-2{
	width:340px
}

.shadetabs li.tab-1 a, .shadetabs li.tab-2 a{
	background:none;
}

.shadetabs li.tab-bg-2{
	background:url('../../../../components/com_virtuemart/themes/jxtc_kraftwerks/images/tab_right.gif') no-repeat;
}    

.vm_search .inputbox { margin-top:0px; }
