/*body*/
body {
    background:<?php echo $params->bodybg; ?>;
    color:<?php echo $params->body_color; ?>;
}
.wrap-top,
.wrap-bottom,
.wrap-tl,
.wrap-tr,
.wrap-bl,
.wrap-br {
	background:<?php echo $params->bodybg; ?>;
}
/*headings,links,titles*/
.contentheading {
	color:<?php echo $params->conHead_color; ?>;
}
.componentheading {
	color:<?php echo $params->comHead_color; ?>;
}
a {
	color:<?php echo $params->link_color; ?>;
}
a:visited{
	color:<?php echo $params->linkvisited_color; ?>;
}
a:hover{
	color:<?php echo $params->linkhover_color; ?>;
}
a:active {
	color:<?php echo $params->linkactive_color; ?>;
}
h1 {
	color:<?php echo $params->h1_color; ?>;
}
h2 {
	color:<?php echo $params->h2_color; ?>;
}
h3 {
	color:<?php echo $params->h3_color; ?>;
}
h4 {
	color:<?php echo $params->h4_color; ?>;
}
h5 {
	color:<?php echo $params->h5_color; ?>;
}
h6 {
	color:<?php echo $params->h6_color; ?>;
}
p{
    color:<?php echo $params->p_color; ?>;
}
.module h3 span {
    color:<?php echo $params->moduleTitle_color; ?>;
}
/*Header, Logo and Menu*/
#logowrap {
	background: url('<?php echo $imgpath; ?>/backgrounds/slideshow-frame2.png') repeat;
}
a#logo {
    background:url(<?php echo $imgpath; ?>/logos/<?php echo $params->logoImg; ?>) no-repeat 0 0;
	width:248px; height:48px;/*margin: 18px 0 0 20px; */  
}
/*main menu*/
#menu {
    background: <?php echo $params->menubgbgimagebgcolor; ?> url('<?php echo $imgpath; ?>/<?php echo $params->menubg_bg; ?>') <?php echo $params->menubg_bgimageposition; ?>;
	-moz-border-radius:0 0 <?php echo $params->menuborderradius; ?>px <?php echo $params->menuborderradius; ?>px;
	-webkit-border-radius:0 0 <?php echo $params->menuborderradius; ?>px <?php echo $params->menuborderradius; ?>px;
	border-radius:0 0 <?php echo $params->menuborderradius; ?>px <?php echo $params->menuborderradius; ?>px;
}
/*topmenu*/
#topmenu {
	background:<?php echo $params->modulebackgroundcolor; ?> url(<?php echo $imgpath; ?>/<?php echo $params->moduleimage; ?>) <?php echo $params->moduleposition; ?>;
	-moz-border-radius:0 0 <?php echo $params->topmenuborderradius; ?>px <?php echo $params->topmenuborderradius; ?>px;
	-webkit-border-radius:0 0 <?php echo $params->topmenuborderradius; ?>px <?php echo $params->topmenuborderradius; ?>px;
	border-radius:0 0 <?php echo $params->topmenuborderradius; ?>px <?php echo $params->topmenuborderradius; ?>px;
}

/*slideshow area*/
.slider{
	-moz-border-radius:0 0 <?php echo $params->slideborderradius; ?>px <?php echo $params->slideborderradius; ?>px;
	-webkit-border-radius:0 0 <?php echo $params->slideborderradius; ?>px <?php echo $params->slideborderradius; ?>px;
	border-radius:0 0 <?php echo $params->slideborderradius; ?>px <?php echo $params->slideborderradius; ?>px;
}
/*main slideshow */
.greystrip {
	height:84px; 
	width:1014px; 
	padding:0 64px; 
	margin:0px auto; 
	position:absolute; 
	bottom:30px; 
	background: url(<?php echo $imgpath; ?>/backgrounds/slideshow-frame2.png) repeat; 
}
.mainslide_title {
	float:left;
	font-size:36px;
	color:#ffffff;
	letter-spacing:-2px;
	padding-right:36px;
	margin-right:36px;
	margin-top:15px;
	border-right:1px dotted #bbb;
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}
.mainslide_introtext {
	font-size:12px;
	color:#ffffff;
	margin-top:23px;
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
/*header masks*/
#head-top {
	background-color:<?php echo $params->headermasktop; ?>;
	-khtml-opacity:.<?php echo $params->headermasktopopacity; ?>;
	-moz-opacity:.<?php echo $params->headermasktopopacity; ?>;
	opacity:<?php echo $params->headermasktopopacity; ?>;
}
#head-bottom {
	background-color:<?php echo $params->headermaskbottom; ?>;
	-khtml-opacity:.<?php echo $params->headermaskbottomopacity; ?>;
	-moz-opacity:.<?php echo $params->headermaskbottomopacity; ?>;
	opacity:<?php echo $params->headermaskbottomopacity; ?>;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#354bb8', endColorstr='#1a3366'); /* for IE */
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2,13,27,0.6)), to(rgba(0,0,0,0))); /* for webkit browsers */
	background-image: -moz-linear-gradient(top,  rgba(2,13,27,0.6),  rgba(0,0,0,0)); /* for firefox 3.6+ */
		
}
/* XTC MENUS  */
/* Top Level */
#menu ul.menu > li.parent:hover {}
#menu ul.menu > li > a {
	color:<?php echo $params->menufont_color; ?>; 
	border-right:1px solid #ebebeb; 
}
#menu ul.menu > li.active {
	background: <?php echo $params->menubg_liactiveimagebgcolor; ?> url('<?php echo $imgpath; ?>/<?php echo $params->menubg_liactiveimage; ?>') <?php echo $params->menubg_liactiveimageposition; ?>;
}
#menu ul.menu > li.active > a {
	color:<?php echo $params->menufontactive_color; ?>; 
	background: <?php echo $params->menubg_activeimagebgcolor; ?> url('<?php echo $imgpath; ?>/<?php echo $params->menubg_activeimage; ?>') <?php echo $params->menubg_activeimageposition; ?>;
    border-bottom:3px solid <?php echo $params->menuborderbottom_color; ?>;
	-moz-box-shadow: 0px 5px 10px rgba(0,0,0,.2);
	-webkit-box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}
#menu ul.menu > li > a:hover {
	color:<?php echo $params->menufontactive_color; ?>; 
	border-bottom:3px solid <?php echo $params->menuborderbottomah_color; ?>;}
/* Drop Levels */
#menu ul.menu li.parent > ul {
	background:<?php echo $params->dropbg_color; ?>;
    -moz-box-shadow:0 7px 7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow:0 7px 7px rgba(0, 0, 0, 0.6);
    box-shadow:0 7px 7px rgba(0, 0, 0, 0.6);
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    border-radius:0 0 10px 10px;
}
#menu ul.menu li.parent > ul > li {
	background:url(<?php echo $imgpath; ?>/menulines/<?php echo $params->menuline; ?>) repeat-x left bottom;	
}
#menu ul.menu li.parent > ul > li > a {
	color:<?php echo $params->dropfont_color; ?>; 
	padding-left:15px; background:url(<?php echo $imgpath; ?>/menuarrow-style1.png) 0 50% no-repeat; 
}
#menu ul.menu li.parent > ul > li.active > a {
	color:<?php echo $params->dropfontactive_color; ?>;
}
#menu ul.menu li.parent > ul > li > a:hover {
	color:<?php echo $params->dropfonthover_color; ?>; display:block; 
}
#menu ul.menu > li.parent > ul > li.parent ul {}
/* Icon Menu Below Main Slideshow */
ul.iconmenu li a {
	color:#666666 !important;
}
/*Regions*/
/*region2*/
#region2 .module {
	background:<?php echo $params->modulebackgroundcolor; ?> url(<?php echo $imgpath; ?>/<?php echo $params->moduleimage; ?>) <?php echo $params->moduleposition; ?>;
	-moz-border-radius:<?php echo $params->region2module; ?>px;
	-webkit-border-radius:<?php echo $params->region2module; ?>px;
	border-radius:<?php echo $params->region2module; ?>px;
}
/*region3*/
#region3w{
	background-color:<?php echo $params->region3; ?>;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#354bb8', endColorstr='#1a3366'); /* for IE */
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6))); /* for webkit browsers */
background-image: -moz-linear-gradient(top,  rgba(0,0,0,0),  rgba(0,0,0,0.6)); /* for firefox 3.6+ */
}
#region3wrap2 {
	background-color:<?php echo $params->region3wrap2; ?>;
}
#region3 {
    background:<?php echo $params->region3wrap3; ?> url('<?php echo $imgpath; ?>/<?php echo $params->region3wrap3image; ?>') <?php echo $params->region3wrap3position; ?>;
	-moz-border-radius:<?php echo $params->region3pad; ?>px;
	-webkit-border-radius:<?php echo $params->region3pad; ?>px;
	border-radius:<?php echo $params->region3pad; ?>px;
}
#region3 .pad2 {    
    background:<?php echo $params->region3wrap4; ?> url('<?php echo $imgpath; ?>/<?php echo $params->region3wrap4image; ?>') <?php echo $params->region3wrap4position; ?>;
	-moz-border-radius:<?php echo $params->region3pad2; ?>px <?php echo $params->region3pad2; ?>px 0 0;
	-webkit-border-radius:<?php echo $params->region3pad2; ?>px <?php echo $params->region3pad2; ?>px 0 0;
	border-radius:<?php echo $params->region3pad2; ?>px <?php echo $params->region3pad2; ?>px 0 0;
}
#region3 #region3b {
	background:<?php echo $params->region3sc; ?> url(<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region3scimage; ?>) <?php echo $params->region3scposition; ?>;
	-moz-border-radius:0 0 <?php echo $params->region3b; ?>px <?php echo $params->region3b; ?>px;
	-webkit-border-radius:0 0 <?php echo $params->region3b; ?>px <?php echo $params->region3b; ?>px;
	border-radius:0 0 <?php echo $params->region3b; ?>px <?php echo $params->region3b; ?>px;
	padding: 32px;
}
#region3 #region3b .module h3 span {
	color:<?php echo $params->region3title; ?>;
}
/*region4*/
#region4 .module {	
    background:<?php echo $params->modulebackgroundcolor; ?> url(<?php echo $imgpath; ?>/<?php echo $params->moduleimage; ?>) <?php echo $params->moduleposition; ?>;
	-moz-border-radius:<?php echo $params->region4module; ?>px;
	-webkit-border-radius:<?php echo $params->region4module; ?>px;
	border-radius:<?php echo $params->region4module; ?>px;
}
/*region5*/
#region5 .module h3 {
	background: #fcfcfc url('<?php echo $imgpath; ?>/bottommod-h3-bkg.png') bottom repeat-x;
}
#region5 .module h3 span {
	color:#666666;
}

#region5 .pad2 {
	background:none;
}
#region5 .module{
	-moz-border-radius:<?php echo $params->region5gwmodule; ?>px;
	-webkit-border-radius:<?php echo $params->region5gwmodule; ?>px;
	border-radius:<?php echo $params->region5gwmodule; ?>px;
}
#region5 .module h3{
	-moz-border-radius:<?php echo $params->region5gwmodule; ?>px <?php echo $params->region5gwmodule; ?>px 0 0;
	-webkit-border-radius:<?php echo $params->region5gwmodule; ?>px <?php echo $params->region5gwmodule; ?>px 0 0;
	border-radius:<?php echo $params->region5gwmodule; ?>px <?php echo $params->region5gwmodule; ?>px 0 0;
}
/*region6*/
#region6{
	background-color:<?php echo $params->region6; ?> ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#354bb8', endColorstr='#1a3366'); /* for IE */
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2,13,27,0.9)), to(rgba(2,13,27,0))); /* for webkit browsers */
	background-image: -moz-linear-gradient(top,  rgba(2,13,27,0.9),  rgba(2,13,27,0)); /* for firefox 3.6+ */
}
#region6 #gridwrap2 .firstarea, 
#region6 #gridwrap2 .centerarea, 
#region6 #gridwrap2 .lastarea, 
#region6 #gridwrap2 .singlearea{
	border-left:2px solid <?php echo $params->region6wrap2border; ?>;
}

#region6wrap2 {
    background:<?php echo $params->region6wrap2backgroundcolor; ?> url(<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region6wrap2image; ?>) <?php echo $params->region6wrap2position; ?>;
}
#region6 .pad2 {
	background:none;
}
#region6 #gridwrap2 a{
	color:<?php echo $params->region6wrap2a; ?>;
}
#region6 #gridwrap2 p{
	color:<?php echo $params->region6wrap2p; ?>;
}
#region6 #gridwrap1 {	
	background:<?php echo $params->region6tickerbg; ?>;
	-khtml-opacity:.<?php echo $params->tickeropacity; ?>;
	-moz-opacity:.<?php echo $params->tickeropacity; ?>;
	-ms-filter:"alpha(opacity=<?php echo $params->tickeropacity; ?>)";
	filter:alpha(opacity=<?php echo $params->tickeropacity; ?>);
	opacity:<?php echo $params->tickeropacity; ?>;
}
#region6 #gridwrap1 .module{
	background:none;
	-moz-box-shadow:none;
}
#region6 #gridwrap2 .module h3 span{
	color:<?php echo $params->region6wrap2title; ?>;
}
/*Search*/
#region6 input#mod_search_searchword {
	background:#fff;
}
/*region7*/
#region7 {
	background:<?php echo $params->region7; ?>;
}
#region7wrap2 {
	background:<?php echo $params->region7wrap2; ?>;
	-moz-border-radius:0 0 <?php echo $params->region7module; ?>px <?php echo $params->region7module; ?>px;
	-webkit-border-radius:0 0 <?php echo $params->region7module; ?>px <?php echo $params->region7module; ?>px;
	border-radius:0 0 <?php echo $params->region7module; ?>px <?php echo $params->region7module; ?>px;
}
/*Module Suffixes and module overrides*/
/*block*/
/*tag*/
/*tagbline*/
.block h3 span{
	color:#989896!important;
}	
.block h3,.tag h3 span,.tagbline h3 span{
	background:#495E79!important;
	color:#efefef!important;
}
/*tagbline*/
.tagbline h3{
    border-bottom-color: #495E79!important;
}
/*dborder*/
.dborder h3{
    border-top-color: #C9C9C9!important;
	border-bottom-color: #C9C9C9!important;
}
/*left, right, center*/
#left .module h3, #right .module h3 {
	border-bottom:1px solid #c9c9c9;
}
#center .module h3 {
	border-bottom:1px solid #c9c9c9;
}
.module {
	background:#f1f1f1; 
	border:none;
	}
.module,#menu,#topmenu,#region3 {
    -moz-box-shadow: <?php echo $params->cssboxshadow; ?>;
    -webkit-box-shadow: <?php echo $params->cssboxshadow; ?>;
    box-shadow: <?php echo $params->cssboxshadow; ?>;
	}
.basecolor_1 {
	color:<?php echo $params->basecolor1; ?>;
}
.basecolor_2 {
	color:<?php echo $params->basecolor2; ?> !important;
}
.lm_box{
	background:<?php echo $params->lmboxbg; ?>;
	-moz-border-radius:0 0 <?php echo $params->region2module; ?>px <?php echo $params->region2module; ?>px;
	-webkit-border-radius:0 0 <?php echo $params->region2module; ?>px <?php echo $params->region2module; ?>px;
	border-radius:0 0 <?php echo $params->region2module; ?>px <?php echo $params->region2module; ?>px;
}	
.boxybottom{
	background-color: #ebebeb !important;
	-moz-border-radius:0 0 <?php echo $params->region5gwmodule; ?>px <?php echo $params->region5gwmodule; ?>px;
	-webkit-border-radius:0 0 <?php echo $params->region5gwmodule; ?>px <?php echo $params->region5gwmodule; ?>px;
	border-radius:0 0 <?php echo $params->region5gwmodule; ?>px <?php echo $params->region5gwmodule; ?>px;
}
div.twitt {
	color:<?php echo $params->region6wrap2p; ?>; border-bottom:1px dotted <?php echo $params->region6wrap2border; ?> !important;
}
ul.bottom_menu li {border-bottom:1px dotted <?php echo $params->region6wrap2border; ?> !important;
}
.comments_menu {border-bottom:1px dotted <?php echo $params->region6wrap2border; ?> !important;
}
/*menu classes*/
ul.splitsection li a,ul.bottom_menu li a {
	color:<?php echo $params->link_color; ?>;
}
ul.featured li {
	color:#aaaaaa !important;
	border-bottom:1px dotted #333333 !important;
	font-size:11px !important;
	font-weight:normal !important;
}
ul.featured li span {
	color:#666666 !important; font-size:10px !important;
}
ul.featured-right li {
	color:#666666 !important;
	padding:10px 0;
	border-bottom:1px solid #d0d0d0 !important;
	font-size:11px !important;
	font-weight:normal !important;
}
ul.featured-right li a {}
ul.featured-right li span {
	color:#999999 !important; 
	font-size:10px !important;
}
/* Bottom Icon List (Above the Footer) */
#bottomlist ul li a {
	color: #777777 !important;
}
#bottomlist ul li a:hover {
	color: #2e5783 !important;
}
/*Banner Position on Sub-Pages */
.subslide {
	height:162px; background: url(<?php echo $imgpath; ?>/backgrounds/s2b.jpg) ;
}
/*Cat image*/
.cat_img {
	border:1px solid #cdcdcd;
}
/* RsMonials Text */
.RSWS_testmonial_subtext em {
	color: #45a0cf;
}
.RSWS_form_heading {
	color: #45a0cf;
}
.RSWS_form_button { 
    background: <?php echo $params->buttonbg; ?> !important;color:<?php echo $params->buttontext; ?> !important;
}

.wl_image .thumbnail {
	border:6px solid #cccccc;
}
.article_img img{
	border:10px solid #cccccc;
}
<?php // Custom CSS for Internet Explorer if ($xtc->agent->browserName == 'MSIE') {
 if ($xtc->agent->browserVersion == '7.0') {
?> 
	/* CSS for IE7 */
#menu{
    background: #ffffff url('<?php echo $imgpath; ?>/topfade1.png') repeat-x 0 0;}
#head-top {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; 
    filter: alpha(opacity=20);
}
#head-bottom {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    filter: alpha(opacity=100);
}
.greystrip {
	background:#000000; 
}
#logowrap {
	background: #000000;
}
#region6 #gridwrap1 {
	-ms-filter:"alpha(opacity=70)";
	filter:alpha(opacity=70);
}
<?php
}
elseif ($xtc->agent->browserVersion == '8.0') {
?> 
	/* CSS for IE8 */
#menu{
    background: #ffffff url('<?php echo $imgpath; ?>/topfade1.png') repeat-x 0 0;}
#head-top {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; 
    filter: alpha(opacity=20);
}
#head-bottom {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    filter: alpha(opacity=100);
}
#region6 #gridwrap1 {
	-ms-filter:"alpha(opacity=70)";
	filter:alpha(opacity=70);
}
<?php
}
?>