body { font:normal 12px "Segoe UI", Verdana, Arial; text-align:center; background:#FFF; color:#000; }
br { clear:both; }

body, form, form fieldset, form label, label input, label select, label textarea { margin:0px; padding:0px; }
body form { margin-top:50px; }
form, div#resultados table { padding-bottom:40px; width:800px; text-align:left; }
div#resultados table thead tr { background:#FA0; color:#FFF; }
div#resultados table thead tr td { padding:2px; }
div#resultados table tbody tr:hover { background:#DDD; }
div#resultados td form { margin:0px; padding:0px; width:auto; }
form fieldset { border:none; }
label input, label select, label textarea { margin:0px; padding:1px 1px 1px 2px; font-family:Consolas, Verdana, Arial; }
form label { float:left; margin:0px 4px 4px 0px; }
label input, label select, label textarea { display:block; }

p.caption {
	margin:10px 0px 5px 0px; padding:2px 0px; background:transparent url('../_img/pCaption.png') no-repeat top center;
	text-align:center; font-weight:bold; font-size:14px; color:#FFF; border-bottom:4px solid #E80; 
}

p.botoes { clear:both; margin-top:5px; border-top:3px solid #D70; text-align:right; }
p.botoes input { 
	width:143px; height:33px; color:#FFF; cursor:pointer; font:bold 12px "Segoe UI", Verdana, Arial; 
	border:none; background:url('../_img/formButton.png') no-repeat top left;
}

div.clear { clear:both; padding:2px 0px; }
div.left, div.right { float:left; }
div.left { padding-right:10px; border-right:1px dotted #DDD; }
div.right { padding-left:15px; border-left:1px dotted #DDD; }

label .long { width:320px; }
label .small { width:60px; }
label .data { width:100px; }
label .doc { width:130px; }

.uppercase { text-transform:uppercase; }