#navigation ul.menu li.dir ul{
	margin:1px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px;
	background:transparent;
	width:100%;
	position:absolute;
	left:0px;;
	padding-bottom:0px;
	background: #EEE;
}

#navigation ul.menu li.dir ul li{
	width:auto;
	height:38px;
	padding:0px 0px 0px 10px;
	padding:0px;
	float:left;
	background:none;
}

#navigation ul.menu li.dir ul li:hover{
	background:#F9F9F9;
}

#navigation ul.menu li.dir ul li a{
	width:auto;
	margin:0px 0px;
	float:left;
	border-bottom:0px solid #CCC;
	padding:2px 10px 7px 7px;
}

#navigation ul.menu li.dir ul li a span{
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	text-transform:capitalize;
	color:#AAAAAA;
  padding:0px 0px 0px 20px;
	background:url('../../images/menuicon.png') no-repeat -7px -10px;
}

#navigation ul.menu li.dir ul li.first{

}

#navigation ul.menu li.dir ul li.last{

}

#navigation ul.menu li.dir ul li.last a{
	display:block;
	padding-bottom:8px;
	border-bottom:0px;
	background: none;
}

#navigation ul.menu li.dir ul li ul{
	margin:35px 0px 0px 0px;
	position:absolute;
	border-top:1px solid #CCC;	
	z-index:101;
}

#navigation ul.menu li.dir ul li ul li{
	float:left;position:relative;
	background:none;
}