#navigation ul.menu li.dir ul{
	width:208px;
	margin:1px 0px 0px -20px;
	border:0px;
	background:none;
}

#navigation ul.menu li.dir ul li{
height:39px;
margin:0;
padding:0;
width:208px;
	background:url('../../images/single-mid.png');
}

#navigation ul.menu li.dir ul li:hover{
	background:url('../../images/single-mid.png');
}

#navigation ul.menu li.dir ul li a{
	width:172px;
	margin:0px 14px;
	border-bottom:0px solid #CCC;
	padding:2px 0px 7px 7px;
	background:url('../../images/dividerline.png') repeat-x left bottom;
}

#navigation ul.menu li.dir ul li a:hover{
	background:#F9F9F9 url('../../images/dividerline.png') repeat-x left bottom;
}

#navigation ul.menu li.dir ul li a span{
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	text-transform:capitalize;
	color:#AAAAAA;
  padding:0px 0px 0px 25px;
	background:url('../../images/menuicon.png') no-repeat -7px -10px;
}

#navigation ul.menu li.dir ul li.first a{
	padding-top:5px;
	padding-bottom:5px;
}


#navigation ul.menu li.dir ul li.last{
	margin:0px;
	padding-bottom:14px;
	border-bottom:0px none;
	background: url('../../images/single-bottom.png') no-repeat left bottom; 
}

#navigation ul.menu li.dir ul li.last a{
	display:block;
	padding-bottom:8px;
	border-bottom:0px;
	background: none;
}

#navigation ul.menu li.dir ul li ul{
	margin:-60px 0px 0px 180px;
	padding:20px 0px 0px 0px;
}

#navigation ul.menu li.dir ul li ul li.first a{
	padding-top:5px;
	padding-bottom:5px;
}

#navigation ul.menu li.dir ul li ul li.first{
	padding-top:15px;
	padding-bottom:0px;
	background: url('../../images/single-top.png') no-repeat left top;
}

#navigation ul.menu li.dir ul li ul li.first:hover{
	padding-top:15px;
	padding-bottom:0px;
	background: url('../../images/single-top-over.png') no-repeat left top;
}

#navigation ul.menu li.dir ul li ul li.first a:hover{
	background:transparent url('../../images/dividerline.png') repeat-x left bottom;
}

#navigation ul.menu li.dir ul li ul li.last{
	background: url('../../images/single-bottom.png') no-repeat left bottom; 
}

#navigation ul.menu li.dir ul li ul li.last:hover{
	background: url('../../images/single-bottom-over.png') no-repeat left bottom; 
}

#navigation ul.menu li.dir ul li ul li.first.last{
	background: url('../../images/singlebubble.png') no-repeat left bottom; 
}

#navigation ul.menu li.dir ul li ul li.first.last:hover{
	background: url('../../images/singlebubble-over.png') no-repeat left bottom; 
}
/*NIGHTLY CODED*/
#navigation ul.menu ul li ul li ul li a,
#navigation ul.menu li.dir ul li ul li a{
	/*line-height:50px;*/}
#navigation ul.menu ul li ul li ul li a:hover,
#navigation ul.menu li.dir ul li ul li a:hover{
	border-bottom:none;}
#navigation ul.menu li.dir ul li ul li.first a:hover{
	background:none;
}
#navigation ul.menu li.dir ul li ul li.first.last,#navigation ul.menu li.dir ul li ul li.first.last:hover {
	height:67px;}
#navigation ul.menu li.dir ul li ul li.first.last a{
	padding-top:18px;
	padding-bottom:5px;
}
#navigation ul.menu li ul, #navigation ul.menu ul li ul{z-index:999;}