<patTemplate:tmpl name="kunena-header">
<!-- closed in footer.html -->
<div id="Kunena">
{OFFLINE_MESSAGE}
<div class="kunenahbkg">

<div class="app-box">
	  <div class="app-box-header">
		  <div class="app-box-header">
		  	<div style="float:left; line-height:46px;"><h2 class="app-box-title">{BOARD_TITLE}</h2></div><div style="float:right;"><img id="BoxSwitch_topprofilebox__topprofilebox_tbody"  class="hideshow" src="{PB_IMGSWITCHURL}" alt="" /></div><div style="float:right;">{SEARCHBOX}</div><div style="float:right;">{MENU}</div>
		  </div>        
	  </div>	 
</div>
</div>
</patTemplate:tmpl>
