body { margin:0px; padding:0px; text-align:center; font:normal 12px "Segoe UI", Verdana, Arial; overflow:auto; background:#EEE; }
h1, h2, h3 { margin:0px; padding:0px; }
hr, p { clear:both; margin:0px; padding:0px; border:none; }
a { text-decoration:none; color:#FFF; }
img { border:none; }
img.ico { height:24px; width:24px; vertical-align:middle; margin:-2px 4px -2px -2px; }

#site { position:absolute; width:100%; height:100%; margin:0px auto; padding:0px; text-align:justify; }
	#topo { float:left; width:100%; background:#FF7700; color:#FFF; text-align:left; padding:2px 0px; border-bottom:1px solid #000; }
		#topo img { float:left; height:18px; width:18; margin:1px 2px 0px; }
		#topo img.ico_bt { float:right; height:20px; width:22px; margin:0px 2px -2px; cursor:pointer; }
		#topo h2 { float:left; font:bold 12px "Segoe UI", Arial; margin:2px 0px; }
	#menu { display:block; background:#FFF; margin:0px; padding:2px 0px; background:#DDD; float:left; width:100%; border-bottom:1px solid #000; }
		#menu a { float:left; margin:0px 2px 0px 0px; padding:2px 8px; font:normal 12px "Segoe UI", Arial; color:#000; }
		#menu a.ativo:focus, #menu a:hover, #menu a:focus { background:#EEE;  }
		#menu a.ativo { background:#FE8;  }
	#corpo { font-family: Consolas, "Segoe UI", Verdana, Arial; }
		#corpo form { position:absolute; left:50%; width:960px; margin:100px auto 0px -480px; }
		#corpo fieldset { border:1px solid #EEE; margin:0px 0px 40px; padding:5px; background:#CCC; border:1px solid #AAA; }
		span#titulo { float:left; width:958px; padding:2px 0px; cursor:default; background:#FFF; margin:-5px -5px 10px; font-weight:bold; text-transform:uppercase; border-bottom:1px solid #AAA; background:#FF7700; color:#FFF; }
			span#titulo img { float:left; height:18px; width:18px; margin:-2px 4px 0px; }
			span#titulo img.ico_bt { float:right; cursor:pointer; }
			span#titulo h2 { float:left; font:bold 12px "Segoe UI", Arial; }
		span#legenda { clear:both; display:block; background:#EEE; padding:2px; height:14px; }
		#corpo fieldset div.display { display:block; }
	#rodape { position:fixed; width:100%; bottom:0px; background:#EEE; color:#AAA; padding:2px 0px; text-align:center; border-top:1px solid #555; }
	#rodape a { color:#AAA; margin:0px 5px; }

fieldset label { float:left; margin-left:2px; font-family: "Segoe UI", Arial; }
label input, label select { display:block; margin:0px 10px 5px -2px; padding:2px; text-transform:uppercase; font-size:12px; font-family:Consolas; }
fieldset fieldset { clear:both; float:left; margin:100px 0px; }
	fieldset fieldset span#titulo { width:945px; }
div.left { clear:both; float:left; 	}
div.right { float:left; }
div.formulario fieldset { clear:both; }

input.submit { clear:both; float:left; } /* background:transparent url('../img/botao.png'); color:#555; height:40px; width:155px; margin:10px 0px; cursor:pointer; border:none; } */
input.submit:hover { color:#000; }
input.codigo { width:100px; }
select.codigo { width:108px; }
input.uf { width:52px; }
select.uf { width:60px; }
input.long_text { width:360px; }
select.long_text { width:368px; }

.access { color:#F00; font-weight:bold; }