div#hint { position:absolute; right:48px; top:100px; width:300px; padding:5px; background:#EEE; text-align:center; display:none; }
div#hint p { display:block; border:1px solid red; width:auto; margin:0px; padding:0px; }

a.login, a.cadastro {
	float:left; width:200px; margin:0px 0px 0px 10px; padding:12px 0px 2px 0px; cursor:pointer; 
	background:url('../_img/bt_menu_horizontal.png') no-repeat center left; text-align:left; font:bold 12px Verdana, Arial; color:#FFF; }
	
a.login img, a.cadastro img { float:left; height:24px; margin:-5px 6px 0px 12px; }

form { clear:both; margin:0px 5px 5px 5px; padding:5px; }

#formlogin, #formcadastro { clear:both; margin:0px 20px; }
form label { display:block; text-align:left; margin-bottom:10px; }
label input { display:block; font-family:Consolas, Verdana, Arial; }
label label { clear:none; display:inline; }