body #bg_wrap {background: none;}
body #bg_wrap #header_container { height:120px; }
#navigation ul.menu li a {color: #999;}
body .box .box_left_title .box_right_title h3.modtitle .first_word {color: #999;}
body .box .box_left_title .box_right_title h3.modtitle .rest {color:#CCCCCC;}



/** Additional CSS for COM Templates **/
.vmshowc {color: #666!important;}
.productPrice {color: #666!important;}
.price {color: #666!important;}
#community-wrap .app-box-title {color: #999!important;}
.app-box-header {color: #999!important;}
.app-box-title, .app-box-title a {color:#999!important;}
.app-box-info h3  {color: #999!important;}
#Kunena .fbl {color: #999;}
#Kunena a.fb_title, #Kunena .fb_title {color:  #999;}

#aboutthisvideotitle {color:  #999;}
.videotitleinmainarea {color: #999;}
#commentstitle {color:  #999;}

.listnavigationtitle {color: #999;}
h2.app-box-title a {color: #999;}
.listing-summary h3 {color: #999;;}
.category .subcat   {color: #999;!important;}
.category .subcat a {color: #999;!important;}

