<?xml version="1.0" encoding="utf-8"?>
<XTC>
	<name>Default</name>
	<description>CorporateLife Core Layout</description>
   <params>
		<param name="xtcgrid" type="parameterlist" group="grid" default="Grid1" label="Grid Style"/>
		<param name="xtcstyle" type="parameterlist" group="style" default="Style1" label="Template Style"/>
		<param name="xtctypo" type="parameterlist" group="typo" default="Typo1" label="Typography Style"/>
	</params>
</XTC>