/* Groups */
table.admintable td.paramlist_key {
	vertical-align:top;
	font-family:sans-Serif;
	font-size:16px;
	font-weight:normal !important;
	white-space:nowrap;
	height:30px;
	line-height:30px;
	padding:16px 6px 6px 6px;
	text-shadow:#fff 2px 2px;
/*	background:#c0c0c0 !important; */
}

.pane-sliders div.panel {
	margin:0 0 5px 0px;
	padding:0;
	border:none;
}

.pane-sliders div.panel h3 {
	background:#fff;
	border:1px solid #e0e0e0; 
/*	background:url(images/panelbkg.png) repeat-x left; */
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.jpane-toggler span, .jpane-toggler-down span {
	font-family:sans-Serif;
	font-size:18px;
	font-weight:normal !important;
	height:48px !important;
	line-height:48px;
	display:block !important;
	background-color: transparent;
}

.jpane-toggler span {
	background:url(images/right3.png) no-repeat scroll left !important;
	background-position: 5px 50%;
	padding-left: 50px !important;
}

.jpane-toggler-down span {
	background:url(images/down3.png) no-repeat scroll left !important;
	background-position: 5px 50%;
	padding-left: 50px !important;
}

.pane-sliders .content {
	margin:0px;
	background:transparent !important;
}

.xtcPane {
	margin-top:5px;
	border:1px solid #d8d8d8;
	background:#e0e0e0;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.paneInfo {
	padding:10px;
}

.paneDescription {
	font-family:Verdana, sans-serif;
	font-size: 14px;
}

.paneImage {
	width:232px;
	height:150px;
	float:right;
	border:3px solid #666666;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.adminform .admintable {
}
.adminform td {
}

.panel table.admintable {
}

.panel table.admintable td.paramlist_key, .panel table.admintable td.paramlist_value {
	font-weight:normal;
	padding:6px 12px 6px 12px;
}
.panel table.admintable td.paramlist_key {
	background:#f0f0f0;
	color:#444444;
	font-size:15px;
}

table.admintable td.paramlist_value {
	background:#ffffff;
	font-size:13px;
}

.adminform input, .adminform select {
  font-family: Tahoma, Arial, sans-serif;
	font-size:14px;
  height:auto;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.adminform input {
	padding:5px 5px 5px 3px;
}
.adminform select {
	padding:5px 5px 5px 0;
}

.adminform option {
	padding:0 18px 0 3px;
}

/* Header */

.xtcheader {
	font-size:14px;
	font-weight:bold;
	padding:10px;
}

input.combobox {
	position:absolute !important;
	top:7px !important;
	left:4px !important;
	border:none;
	margin:0px !important;
	padding:0px !important;
	color:red;
	height:18px !important;
}

select.combobox {
	position:absolute !important;
	top:0 !important;
	left:0 !important;
	background:red !important;
}

