#navigation ul.menu li.dir ul, #navigation ul.menu li.sfHover ul{
	width:387px;
	margin:1px 0px 0px -110px;
	padding:0px 0px 25px 0px;
	border:0px;
	background:none;
}

#navigation ul.menu li.dir ul li{
	width:175px;
	height:38px;
	margin:0px;
	padding:0px 0px 0px 18px;
}

#navigation ul.menu li.dir ul li.lft{
	padding:0px 0px 0px 15px;
	background:url('../../images/dual-mid.png') top left; 
}

#navigation ul.menu li.dir ul li.rgt{
	padding:0px 19px 0px 0px;
	background:url('../../images/dual-mid.png') top right;
}

#navigation ul.menu li.dir ul li:hover{	

}

#navigation ul.menu li.dir ul li a{
	width:171px;
	font-size:11px;
	color: #838383;
	border-bottom:0px solid #CCC;
	background:url('../../images/dividerline.png') repeat-x left bottom;
	padding:5px 0px 4px 8px;
}

#navigation ul.menu li.dir ul li a:hover{
	padding:5px 0px 4px 8px;
	background:#F9F9F9 url('../../images/dividerline.png') repeat-x left bottom;
}

#navigation ul.menu li.dir ul li a span{
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	color:#838383;
	background:url('../../images/menuicon.png') no-repeat -10px -11px;; padding-left:15px; padding-right:0px; padding-top:0px; padding-bottom:0px
}

#navigation ul.menu li.dir ul li.first a{
	padding-top:5px;
}

#navigation ul.menu li.dir ul li.postfirst a{
	padding-top:5px;
}

#navigation ul.menu li.dir ul li.last{
	margin:0px;
	padding-bottom:0px;
	border-bottom:0px none;
}

#navigation ul.menu li.dir ul li.last a{
	display:block;
	padding-bottom:4px;
}

#navigation ul.menu li.dir ul li.last.lft{
	width:360px;
	padding:0px 0px 22px 18px;
	background:url('../../images/dual-bottom.png') left bottom no-repeat;
}

#navigation ul.menu li.dir ul li.last.rgt{
	padding:0px 19px 22px 0px;
	background:url('../../images/dual-bottom.png') right bottom no-repeat;
}

#navigation ul.menu li.dir ul li.prelast.lft{
	padding:0px 0px 22px 15px;
	background:url('../../images/dual-bottom.png') left bottom no-repeat;
}

#navigation ul.menu li.dir ul li.rgt ul{
	left:360px;
	margin:0px 0px 0px 0px;
	padding:0px 14px 0px 14px;
	width:387px;
	z-index:999	
}

#navigation ul.menu li.dir ul li.lft ul{
	left:180px;
	margin:0px 0px 0px 0px;
	padding:0px 14px 0px 14px;
	width:387px;
	z-index:999	
}

#navigation ul.menu li.dir ul li ul li.first.lft{
	padding-top:16px;
	background:url('../../images/dual-top.png') left top no-repeat;
}

#navigation ul.menu li.dir ul li ul li.postfirst.rgt{
	padding-top:16px;
	background:url('../../images/dual-top.png') right top no-repeat;
}

#navigation ul.menu li.dir ul li ul li.first a{
	padding-top:4px;
}

#navigation ul.menu li.dir ul li ul li.postfirst.rgt a{
	padding-top:4px;
}

#navigation ul.menu li.dir ul li ul li.last{
}

#navigation ul.menu li.dir ul li ul li.first.last{
	padding-top:16px;
	background:url('../../images/dualsingle.png') left top no-repeat;
}

#navigation ul.menu li.dir ul li ul li.first.last a{
	padding-bottom:0px;
}

#navigation ul.menu li.dir ul li ul li.first.prelast{
	padding-top:16px;
	background:url('../../images/dualsingle.png') left top no-repeat;
}

#navigation ul.menu li.dir ul li ul li.last.postfirst{
	padding-top:16px;
	background:url('../../images/dualsingle.png') right top no-repeat;
}

#navigation ul.menu li.dir ul li ul li.first.prelast:hover{
	background:url('../../images/dualsingle-over.png') left top no-repeat;
}

#navigation ul.menu li.dir ul li ul li.last.postfirst:hover{
	background:url('../../images/dualsingle-over.png') right top no-repeat;
}

#navigation ul.menu li.dir ul li ul li.first.prelast a, #navigation ul.menu li.dir ul li ul li.last.postfirst a{
	background:none;
}

#navigation ul.menu li.dir ul li ul li.first.last a{

}