body { font:normal 12px "Segoe UI", Verdana, Arial; text-align:center; background:#FFF url('../_img/bg_10px.png'); color:#FFF; }
body, p, h1, h2, h3 { margin:0px; padding:0px; }
p, h1, h2, h3 { text-align:justify; display:block; clear:both; }
h1, h2, h3 { color:#FA0; }
h1 { font-size:300%; }
h2 { font-size:150%; }
h3 { font-size:125%; }
a { text-decoration:none; color:#DDD; font-weight:bold; }
a img { border:none; width:48px; height:48px; }
a:hover { color:#FFF; }

div#header, div#desktop, div#footer, div#menu { width:100%; padding:0px; }

div#header, div#desktop, div#menu { clear:both; margin:0px auto; }

div#header { margin-bottom:2px; padding-bottom:2px; border-bottom:1px solid #AAA; background:#000; }
div#header h3 { margin:0px 4px; }

div#desktop, div#menu, div#cadastros, div#consultas { float:left; display:block; }
div#desktop { margin-bottom:22px; padding:4px 0px; border-top:1px solid #AAA; text-align:justify; }
div#desktop p { margin:0px 4px; }
div#menu a, div#desktop a { float:left; margin:0px 2px 2px 0px; border:1px solid transparent; padding:4px 10px; text-align:center; }
div#menu a.fright { float:right; }
div#menu a:hover, div#desktop a:hover { border-color:#AAA; }

div#footer { position:fixed; bottom:0px; height:28px; padding:2px 0px 2px 0px; font-family:"Segoe UI", Arial; border-top:1px solid #DDD; font-family:Consolas, Verdana, Arial; background:#222; }
div#footer a, div#footer label#datetime, div#footer label#usuario { position:absolute; }
div#footer a { width:400px; left:50%; margin-left:-200px; text-align:center; }
div#footer label#datetime, div#footer label#usuario { height:100%; }
div#footer label#usuario { left:0px; padding:0px 5px; border-right:2px dotted #DDD; text-align:left; }
div#footer label#datetime { right:0px; padding:0px 5px; border-left:2px dotted #DDD; text-align:center; }

table#calendario { position:absolute; width:960px; left:50%; margin:10px 0px 0px -480px; }
table#calendario td { height:48px; width:64px; }
table#calendario thead td { border:1px solid #000; text-align:center; background:#444; font-weight:bold; }
table#calendario tbody td { border:1px solid #000; }
table#calendario tbody td:hover { background:#444; }

div#msgBox
	{ position:absolute; width:400px; min-height:100px; top:50%; left:50%; margin:-100px 0px 0px -200px; padding-bottom:5px; 
	text-align:center; background:#FFF; border:1px solid #AAA; color:#000; }
div#msgBox label { display:block; text-align:left; background:#C00; margin:0px 0px 4px 0px; padding:2px 4px; font-weight:bold; color:#FFF; }

p.botoes { clear:both; margin-top:5px; border-top:1px solid #AAA; text-align:right; }
p.botoes input { margin:2px; }