body.painel { font:normal 12px "Segoe UI", Verdana, Arial; margin:0px; padding:0px; position:absolute; width:100%; height:100%; min-width:780px; }

a { text-decoration:none; }

table.statusbar { position:fixed; bottom:0px; width:100%; background:#DDD url('../imagens/statusbar_bg.jpg'); color:#FFF; height:22px; }
table.statusbar table tr td { margin:0px; padding:0px; padding:2px 0px; }
table.statusbar td.left { width:80%; text-align:left; border:none; padding:2px; }
table.statusbar td.right { width:20%; text-align:center; border:none; padding:2px; }
table.statusbar td.divisor { background:url('../imagens/statusbar_divisor.jpg'); width:3px; padding:1px; border:none; }

.ico { height:16px; border:none; margin:2px 4px -2px 0px; padding:0px; }
.menu { background:#990000; margin:-5px 0px 0px 0px; padding:0px; height:50px; background:url(../imagens/smc_menu/nav-bg.jpg); }

.float-left { float:left; }
.float-right { float:right; }

#painel { position:fixed; top:0px; width:100%; z-index:1; }
#painel li { float:left; display:block; white-space:nowrap; text-align:left; }
#painel li.titulo { cursor:default; margin:-2px 0px 4px 0px; padding:4px 0px 3px 7px; color:#6C3600; font-family:Arial, "Segoe UI", Arial, sans-serif, Helvetica; font-size:11px; background:url(); background-repeat:no-repeat; font-weight:bold; }
.nav-container ul { position:absolute; width:150px; display:none; }
.nav-container, .nav-container ul { list-style:none; padding:0px; margin:0px; }
.nav-container li.opcao ul li { height:16px; }
li.opcao:hover ul { display:block; }
#painel li.opcao ul { top:37px; }
#painel li.opcao:hover li.opcao ul { top:0px; left:100%; }
/* Primary Items */
#nav-container li { padding:6px 17px; margin-top:10px; color:#FFFFFF; font:bold 14px "Segoe UI", Verdana, Arial; background:url(../imagens/smc_menu/item-primary-bg.gif) no-repeat top center; cursor:pointer; }
li.webmail, #nav-container li.opcao:hover { color:#6C3600; background:url(../imagens/smc_menu/item-primary-bg.gif); background-repeat:no-repeat; background-position:center; }

/* Secondary Items Container */
#nav-container ul { padding:10px 4px 10px 4px; margin:0px 0px 0px 0px; background:#FF9900 url(../imagens/smc_menu/item-secondary-container-bg.jpg) repeat-x; border-bottom:1px solid #CA6500; }

/* Secondary Items */
#nav-container li ul li.opcao { padding:5px 10px 0px 6px; font-size:11px; border-width:0px; border-style:none; margin:0px 0px 0px 0px; width:149px; }

/* Secondary Items Hover State */
#nav-container li ul li.opcao:hover { background:url(../imagens/smc_menu/item-secondary-bg.jpg) no-repeat left top; color:#CC0000; }
#nav-container li ul li.opcao:active { background-color:#FFFFFF; background:url(../imagens/smc_menu/item-secondary-title-bg.jpg); background-repeat:no-repeat; color:#CC0000; }

/* Secondary Item Titles */
/* Horizontal Dividers */
#painel li.divisor { border-top:1px solid #FFF; margin:4px 2px -6px 2px; width:110px; height:1px; }

#webmail { display:none; z-index:50; position:fixed; left:50%; margin-left:-170px; top:38px; border:none; border-width:0px 1px 1px 1px; border-style:solid; border-color:#AAA; }
#webmail form.webmail { float:left; background:url('../imagens/bg_laranja.jpg'); padding:5px; width:340px; }
#webmail form.webmail p { float:left; width:100%; margin:0px; padding:0px; }
#webmail form.webmail label { float:left; width:auto; min-width:50px; text-align:right; padding-top:6px; }
#webmail form.webmail input[type=text] { float:left; margin:0px 2px; }
#webmail form.webmail input[type=password] { float:left; margin:0px 2px; }
#webmail form.webmail input[type=submit] { margin:0px; padding:1px; min-width:80px; background:none; border:1px solid #AAA; width:auto; height:auto; }

#corpo { position:absolute; top:50px; width:100%; padding-bottom:30px; }

img.ng { cursor:pointer; height:20px; }
