body #bg_wrap {background: url('../../images/backgrounds/splat.jpg') no-repeat top;}
body #bg_wrap #header_container { height:120px; }
#navigation ul.menu li a {color: #8b4081;}

body .box .box_left_title .box_right_title h3.modtitle .first_word {color: #65305e;}
body .box .box_left_title .box_right_title h3.modtitle .rest {color:#CCCCCC;}
.box .box_left_title .box_right_title .pagetitle {color: #65305e;}
.box .box_left_title .box_right_title .pagetitle .first_word {color: #65305e;}


/** Additional CSS for COM Templates **/
.vmshowc {color: #65305e!important;}
.productPrice {color: #65305e!important;}
.price {color: #65305e!important;}
#community-wrap .app-box-title {color: #65305e!important;}
.app-box-header {color: #65305e!important;}
.app-box-title, .app-box-title a {color: #65305e!important;}
.app-box-info h3  {color: #65305e!important;}
#Kunena .fbl {color: #65305e;}
#Kunena a.fb_title, #Kunena .fb_title {color: #65305e;}

#aboutthisvideotitle {color: #65305e;}
.videotitleinmainarea {color: #65305e;}
#commentstitle {color: #65305e;}

.listnavigationtitle {color: #65305e;}
h2.app-box-title a {color: #65305e;}
.listing-summary h3 {color: #65305e;}
.category .subcat   {color: #65305e!important;}
.category .subcat a {color: #65305e!important;}